.train-footer{
  background-color: $training-blue; 
  display: flex;
  flex-direction: column; 
  padding: 40px 20px 20px 20px;  

  .txt {
  	color: $training-white;
  	font-size: $text-big;
  	margin-bottom: 10px;
  	text-align: center;
  }

  .copyright {
  	color: $training-white;
  	font-size: $text-small;
  	text-align: right;
  }
}
