.flex-body { 
  grid-template-areas: 
    "header"
    "main"
    "footer";

  // .train-header {
  //   align-items: center;
  //   display: grid;
  //   grid-area: header;
  //   grid-template-areas: 
  //     "logo . dev";
  //   top: 0;    

  //   .logo {
  //     grid-area: logo;
  //   }

  //   .dev {
  //     grid-area: dev;
  //     justify-self: right;
  //   }
  // }

  .train-main {
    grid-area: main;
    
    .section .techs {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;

      .tech {
        background-color: transparent;
        border-radius: 0;

        &::before {
          border: none;
        }

        &:first-child {
          justify-self: stretch;
          border-right: 2px solid $training-green;
          grid-row: 1 / 3;
          margin: 0;
          max-width: none;
          padding: 270px 20px;
          
          .desc {
            max-width: 210px;
          }
        }
      }      
    }
  }

  .train-footer {
    display: grid;
    grid-area: footer;
    grid-template-areas: 
      "txt"
      "logo"
      "copyright";
    place-items: center;

    .txt {
      grid-area: txt;
    }

    .logo {
      grid-area: logo;
      max-width: 100%;
    }

    .copyright {
      grid-area: copyright;
      justify-self: right;
    }
  }
}
