@media only screen and (max-width: 1024px) {
  .flex-body {

    .train-header .dev{
      display: none;
    }

    .train-main {
      
      .section .techs {
        grid-auto-flow: row;
        grid-template-columns: 1fr;

        .tech {
          background-color: transparent;
          border-radius: 0;

          &:first-child {
            grid-column: auto;
            grid-row: auto;
            position: static;
          }

          &:not(:last-child) {
            border-bottom: 2px solid $training-green;
          }

          &::before, &::after {
            display: none;
          }
        }
      }
    }

    .train-footer {
      grid-template-areas: 
        "txt"
        "logo"
        "copyright";
      grid-template-columns: 1fr;

      .txt {
        font-size: $text-medium;
      }

      .logo {
        width: 250px;
      }

      .copyright {
        justify-self: center;
        padding: 30px 0;
      }
    }
  }
}
