@media only screen and (max-width: 1024px) {
  .flex-body {

    .train-header .dev{
      display: none;
    }

    .train-main {
      
      .section .techs {
        display: grid;
        gap: 0;
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        place-items: center;
        position: relative;

        .tech {
          background-color: transparent;
          border-radius: 0;

          &:not(:last-child) {
            border-bottom: 2px solid $training-green;
          }

          &::before, &::after {
            display: none;
          }
        }
      }
    }
  }
}
