.techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;

  .tech {
    background-color: $training-green;
    border-radius: 5px;
    margin-bottom: 30px; 
    min-height: 320px;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    width: 22%;

    &::before {
      content: '';
      border: 1px solid $training-green;
      border-radius: 5px;
      height: 100%;
      right: 10px;
      position: absolute;
      bottom: 10px;
      width: 100%;
    }

    .logo {        
      height: 100px;
      margin: 10px auto;
      max-width: 100%;
      object-fit: contain;
      width: 100px;
    }

    .name {
      display: block;
      margin-bottom: 10px;
      font-size: $text-medium;
    }

    .rel {
      display: block;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}
