.techs {
  display: block;
  margin: 0 auto;
  max-width: 1000px;

  .tech {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    width: 24%;

    .card {
      background-color: $training-green;
      border-radius: 5px;
      padding: 10px 20px;
      position: relative;
      text-align: center;

      &::before {
        content: '';
        border: 1px solid $training-green;
        border-radius: 5px;
        bottom: 10px;
        height: 100%;
        left: -10px;
        position: absolute;
        right: 10px;
        top: -10px;
        width: 100%;
      }

      .logo {
        margin: 10px auto;
        height: 100px;
        line-height: 100px;
        text-align: center;

        img {
          max-width: 100px;
          max-height: 100%;
          vertical-align: middle;
        }   
      }

      .name {
        display: block;
        margin-bottom: 10px;
        font-size: $text-medium;
      }

      .rel {
        display: block;
        font-weight: bold;
        margin-bottom: 20px;

        &::before {
          content: 'Release: ';
        }
      }
    }
  }
}