.title {
  align-items: center;
  color: #000;
  display: flex;
  font-size: 1rem;
  padding: 10px;  

  &::before {
    background: url('assets/triangle.svg') no-repeat right;
    content: '';
    margin-right: -10px;
    max-width: 50px;
    min-height: 50px;
    width: 100%;
  }
}
