.title {
  color: #000;
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 1rem;

  &::before {
    background: url('assets/triangle.svg') no-repeat center;
    content: '';
    min-width: 50px;
    min-height: 50px;
    margin-right: -17px;
  }
}
