.title {
  color: #000;  
  font-size: 1.4rem;
  height: 90px;
  margin: 35px 70px;
  position: relative;
  padding: 35px 53px;  

  &::before {
    background: url('assets/triangle.svg') no-repeat right;
    content: '';
    height: 90px;
    left: 0;
    position: absolute;
    top: 0;
    width: 70px;
    z-index: -1;
  }
}
