.goback-button {
  composes: navbar-menu-link-button from "../../styles.scss";
  border: 1px solid red;
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
  color: red;
  display: block;

  &:hover {
    box-shadow: 1px 1px 1px rgba(0,0,0,.7);
  }
}



