.navbar-menu{
  background-color: red;
  text-align: right;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 2px 2px 2px #C0C0C0;
}

.navbar-menu-link, .navbar-menu-link-button{
  margin: 5px 10px;
  padding: 5px;
  min-width: 60px;
  border: 2px solid #fff;
  color: #fff;;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;

  &:hover, &-active {
    background-color: #fff;
    color: red;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  }
}

@media only screen and (max-width: 1000px) {
    .navbar-menu{
      flex-direction: column;
    }
}
