body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 0;
}

ol,
ul {
  padding-left: 30px;
}

input:not([type='checkbox']) {
  border-bottom: 3px solid black;
  border-radius: 0;
  border-width: 0;
}

input:not([type='checkbox']) + label {
  transition: all 0.2s;
}

input:not([type='checkbox']) + label {
  color: gray;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}

input:not([type='checkbox']):focus + label,
.dirty input:not([type='checkbox']) + label {
  color: black;
  font-size: 12px;
  top: -12px;
}

input {
  outline: 0;
  padding: 0;
}

input,
label,
button[type='submit'] {
  font-size: 20px;
}

select {
  height: 30px;
}

label {
  font-size: 12px;
}

select {
  display: block;
}

select,
input:not([type='checkbox']),
button[type='submit'] {
  width: 100%;
}

button[type='submit'] {
  background-color: orange;
  color: white;
}

.login-form {
  margin: auto;
  max-width: 320px;
  padding: 30px;
}

.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-evenly;
}

.loader-title {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
